/* #region DEBUG */
.debug * {

    border: 1px dashed black;
}

.debug .sidebar {

    background-color: aqua;
}

.debug .player {

    background-color: blueviolet;

}

.debug .content {

    background-color: brown;
}

.debug .top-bar{
    background-color: green;
}

.debug .row {
    background-color: rgb(247, 10, 10);
}

.debug .col-2 {

    height: 250px;
    background-color: yellow;

}

.debug .content>.container{

    background-color: grey;
}


/* #endregion DEBUG */


/* #region COMMON */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
}

.col-2 {

    width: calc((100% / 12) * 2);
    

}

/* #endregion COMMON */




.container {
    display: flex;

    .top-bar {
        width: 100%;
        height: 80px;
        position: fixed;
        opacity: 50%;
        margin-bottom: 5rem;
       
    }    

    .content {
        width: calc(100% - 250px);
        height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        
        
        .container {
            
            overflow-y: scroll;
            width: 100%;
            height: 80%;
            display: flex;
            margin-bottom: 2.5rem;
           
            
            .row {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                
                .col-2{
                    
                    margin: 5px;
                }
            }
    
        }

}    



}


.sidebar {
    width: 250px;
    height: calc(100vh - 80px);
    z-index: 5;
}


.player {
    height: 80px;
    width: 100%;
}