/* #region DEBUG */
.debug * {

    border: 1px dashed black;
}

.debug .sidebar {

    background-color: aqua;
}

.debug .player {

    background-color: blueviolet;

}

.debug .content {

    background-color: brown;
}

.debug .top-bar {
    background-color: green;
}

.debug .row {
    background-color: rgb(247, 10, 10);
}

.debug .col-2 {


    background-color: yellow;

}

.debug .card {
    background-color: chocolate;
}

.debug .content>.container {

    background-color: grey;
}


/* #endregion DEBUG */


/* #region COMMON */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif
}

body {
    overflow: hidden;
    height: 100vh;
}





.col-2 {

    width: calc((100% / 12) * 2);



}

img {
    max-width: 100%;
}

/* #endregion COMMON */




.container {
    display: flex;

    .top-bar {
        width: 100%;
        height: 80px;
        position: fixed;
        margin-bottom: 5rem;
        background-color: #00000070;
        display: flex;
        align-items: center;
        z-index: 5;

        a {
            color: white;
            position: absolute;
            right: 25px;
            border: 1px solid white;
            border-radius: 25px;
            padding: 0.5rem 1.5rem;
            font-size: 10px;
            text-decoration: none;




        }

    }

    .content {
        width: calc(100% - 250px);
        height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        background-color: #141922;

        @media screen and (max-width: 600px) {
            width: calc(100% - 50px);

        }


        nav {
            align-self: center;
            position: absolute;
            top: 90px;


            ul {
                display: flex;
                list-style: none;
                flex-wrap: wrap;

                li>a {

                    text-decoration: none;
                    color: grey;
                    padding: 0 1rem;
                    font-size: 13px;
                    font-weight: 700;

                }
            }

        }




        .container {

            margin-top: 2rem;
            position: relative;
            padding-top: 2rem;
            display: flex;
            flex-wrap: wrap;


            .title,
            .subtitle {
                display: block;
                text-align: center;
            }

            .title {
                color: white;
            }

            .subtitle {
                font-size: 10px;

            }

            h3 {
                position: absolute;
                top: 0.5rem;
                left: 0.5rem;
                font-weight: 700;
                color: white;
            }

            span {

                padding-left: 0.5rem;
                font-weight: 500;
                color: rgb(175, 171, 171);
                font-size: 12px;

            }

            .row {
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                .col-2 {

                    .card {
                        margin: 0.5rem;

                    }
                }
            }

        }

        .r-played {

            margin-top: 9rem;
            padding-top: 2.5rem;
        }


        .popular img {
            border-radius: 50%;
        }

    }



}


.sidebar {
    width: 250px;
    height: calc(100vh - 80px);
    z-index: 1000;
    background-color: black;
    flex-direction: column;
    display: flex;

    .logo_sm {
        display: none;

        @media screen and (max-width: 600px) {
            display: block;

        }
    }


    img:not(.logo_lg) {
        width: 30px;
        margin: 0.5rem;

    }

    .home,
    .search,
    .library {
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            color: white;

            @media screen and (max-width: 600px) {
                display: none;

            }



        }
    }
}





.player {
    height: 80px;
    width: 100%;
    background-color: #282828;
}


@media screen and (max-width: 1100px) {}




@media screen and (max-width: 800px) {



    .col-3-md {
        width: calc((100% / 12) * 3);


    }



}


@media screen and (max-width: 600px) {





    .logo_lg {
        display: none;
    }




    .sidebar {
        width: 50px;


    }



    .col-6-sm {
        width: calc((100% / 12) * 6);


    }

}